{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/came_solicitud_index.css') }}">
    <style>
        .square {
            height: 25px;
            width: 25px;
            background-color: #555;
        }
    </style>
{% endblock %}

{% block body %}
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-12'>
                <h1 style="text-align: center">Nueva solicitud</h1>
            </div>
        </div>
        <div id="solicitud-wrapper"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.INSTITUCIONES = {{ instituciones | json_encode | raw  }};
        window.UNIDADES = {{ unidades | json_encode | raw }}
    </script>
    <script src="{{ asset('build/came_solicitud_index.js') }}"></script>
{% endblock %}