{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/came_solicitud_index.css') }}">
    <style>
        .wrapper-came{
            margin-top: 80px;
            margin-bottom: 80px;
        }
    </style>
{% endblock %}

{% block body %}
    {{ render(controller('AppBundle:Came\\Came:menu')) }}
    <div class='container-fluid wrapper-came'>
        <div class="container">
            <div class='row'>
                <div class='col-md-12'>
                    <h1 style="text-align: center; padding-bottom: 40px">Editar solicitud</h1>
                </div>
            </div>
            <div id="solicitud-edit-wrapper"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.SOLICITUD = {{ solicitud | json_encode | raw }}
        window.UNIDADES = {{ unidades | json_encode | raw }}
        window.INSTITUCIONES = {{ instituciones | json_encode | raw  }};
    </script>
    <script src="{{ asset('build/came_solicitud_index.js') }}"></script>

{% endblock %}
