{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/came_solicitud_index.css') }}">
{% endblock %}

{% block body %}
    <div class='container-fluid'>
        <div class="container">
            <div class='row'>
                <div class='col-md-12'>
                    <h1 style="text-align: center; padding-bottom: 40px">Solicitudes de Campos Clínicos</h1>
                </div>
            </div>
            <div id="solicitudes-table"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.SOLICITUDES = {{ solicitudes | json_encode | raw }};
        window.META = {{ meta | json_encode | raw}};
    </script>
    <script src="{{ asset('build/came_solicitud_index.js') }}"></script>

{% endblock %}
