{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/came_solicitud_index.css') }}">
    <style>
        .square {
            height: 25px;
            width: 25px;
            background-color: #555;
        }
        .wrapper-came{
            margin: 80px 104px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class='container-fluid wrapper-came'>
        <div class='row'>
            <div class='col-md-12'>
                <h1 style="text-align: center; padding-bottom: 40px">Detalle de Solicitud de Campos Clínicos</h1>
            </div>
        </div>
        <div id="solicitud-show-wrapper"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.SOLICITUD = {{ solicitud | json_encode | raw }}
        window.CONVENIOS = {{ convenios | json_encode | raw }}
        window.PAGOSCAMPOSCLINICOS = {{ pagosCamposClinicos | json_encode | raw }};
    </script>
    <script src="{{ asset('build/came_solicitud_index.js') }}"></script>

{% endblock %}