{% extends 'emails/base.html.twig' %}
{% block preheader %}
<span class="preheader">Nueva Solicitud de Campos Clínicos registrada.</span>
{% endblock %}
{% block body %}
    <td>
        <main>
            <h1 class="text-center text-green">Sistema de Administración del FOFOE</h1>
            <p>{{ solicitud.institucion.nombre }}</p>
            <p>{{ solicitud.institucion.representante }}</p>
            <p>Presente</p>
            <p>Por medio del presente, tengo el agrado de notificar que por medio del <strong>Sistema de Administración del FOFOE</strong>
                que usted puede consultar el estado y autorización de
                campos clínicos asociados a su solicitud <strong>{{ solicitud.noSolicitud }}</strong></p>
            <p>El acceso es mediante la siguiente liga:</p>

            <p class="text-center"><a href="{{ app.request.getSchemeAndHttpHost()  }}">{{ app.request.getSchemeAndHttpHost() }}</a></p>

            {% if password %}
            <p>Sus credenciales de acceso son:</p>
            <p><strong>Usuario: </strong>{{ solicitud.institucion.correo }}</p>
            <p><strong>Contraseña: </strong> {{ password }}</p>
            {% endif %}
            <p>Sin otro particular, le enviamos un cordial saludo.</p>


            <div class="text-center text-green">
                <p>Atentamente</p>
                <br><br>
                <p>{{ came.fullname }}</p>
                <p>{{ solicitud.delegacion.nombre }}</p>
            </div>
        </main>
    </td>
{% endblock %}