{% extends 'emails/base.html.twig' %}

{% block body %}
    <main>
        <h1 class="text-center text-green">Sistema de Administración del FOFOE</h1>

        <p>{{ solicitud.institucion.nombre }}</p>
        <p>{{ solicitud.institucion.representante }}</p>
        <p>Presente</p>
        <p>En seguimiento al oficio de montos que ha cargado en el sistema, de la
            solicitud <strong>{{ solicitud.noSolicitud }}</strong> se ha detectado que se tienen las siguientes observaciones
        <strong>{{ solicitud.observaciones }}</strong></p>
        <p>Por lo que pedimos de su apoyo para ingresar al sistema a rectificar su información,
            con base en las observaciones anteriores, el objeto de que el proceso de su solicitud
            no se vea afectado y pueda continuar.</p>

        <div class="text-center text-green">
            <p>Atentamente</p>
            <br>
            <br>
            <p>{{ came.fullname }}</p>
            <p>{{ solicitud.delegacion.nombre }}</p>
        </div>



    </main>

{% endblock %}
