{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .square {
            height: 25px;
            width: 25px;
            background-color: #555;
        }
    </style>
{% endblock %}

{% block body %}


    {{ render(controller('AppBundle:Convenios:tablaCoveniosVigentes', {
        'id': institucion.id
    })) }}

    <div class="hidden">
        <input type="checkbox" name="{{ form.cedulaFile.delete.vars.full_name }}" checked>
    </div>

    <div class='container-fluid'>
        <div class='row' style="padding: 25px;">
            <div class='col-md-1'>
                <img class='img-responsive' src='https://image.shutterstock.com/image-vector/blank-avatar-photo-place-holder-260nw-1095249842.jpg'/>
            </div>
            <div class='col-md-3'>
                <p style="margin-top: 10px; font-size: 16px; font-weight: bold;">Institución educativa</p>
                <p>Nombre: {{ institucion.nombre }}</p>
            </div>
        </div>

        <hr style="border: 1px solid black" />

    </div>

    <div class='container'>
        <p style="color: #265c4f; font-size: 24px; font-weight: bold; text-align: center;">Valide su Información de Contacto</p>

        <p style="margin-top: 10px; font-size: 16px; font-weight: bold;">Nombre</p>
        <p style="margin-top: 10px; font-size: 16px; font-weight: bold;" id="ie"></p>

        <div class='row'>
            <div class='col-md-6'>
                <p style="margin-top: 10px; font-size: 16px; font-weight: bold; text-align: left;">Convenios vigentes de la institución educativa</p>

                <div id="listaConvenio"></div>
            </div>
            <div class='col-md-6' style="padding-top: 50px;">
                <div style="display: flex;">
                    <div class="square" style="margin-right: 10px; background-color: LightGreen"></div><p> Convenio está vigente, con fecha de término mayor a un año.</p>
                </div>
                <div style="display: flex;">
                    <div class="square" style="margin-right: 20px; background-color: yellow"></div><p>Convenio vigente, con fecha de término menor a un año pero mayor a 6 meses. El convenio debería estar en trámites de renovación.</p>
                </div>
                <div style="display: flex;">
                    <div class="square" style="margin-right: 10px; background-color: red"></div><p>La vigencia del convenio está por terminar, es necesario actualizar el convenio.</p>
                </div>
            </div>
        </div>

        <p style="margin-top: 10px; font-size: 16px; font-weight: bold; text-align: left;">Información de la institución</p>
        <form>
            <div class='row'>
                <div class='col-md-3'>
                    <div class="form-group">
                        {{ form_label(form.rfc) }}
                        {{ form_widget(form.rfc, {
                            attr: {
                                'class': 'form-control'
                            }
                        }) }}
                    </div>
                </div>

                {#<div class='col-md-3'>
                    <div class="form-group">
                        <label class='izquierda' for="">Representante legal</label>
                        <input type='text' class="form-control" value="{{ institucion.representante_legal }}" />
                    </div>
                </div>#}
            </div>
            {#<div class='row'>
                <div class='col-md-9'>
                    <div class="form-group">
                        <label class='izquierda' for="">Domicilio:</label>
                        <input type='text' class="form-control" value="{{ institucion.domicilio }}"/>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-3'>
                    <div class="form-group">
                        <label class='izquierda' for="">Correo electrónico:</label>
                        <input type='email' class="form-control" value="{{ institucion.correo }}"/>
                    </div>
                </div>

                <div class='col-md-3'>
                    <div class="form-group">
                        <label class='izquierda' for="">Número de teléfono:</label>
                        <input type='text' class="form-control" value="{{ institucion.telefono }}"/>
                    </div>
                </div>

                <div class='col-md-3'>
                    <div class="form-group">
                        <label class='izquierda' for="">Número de fax (Opcional):</label>
                        <input type='text' class="form-control" value="{{ institucion.fax }}" />
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-9'>
                    <div class="form-group">
                        <label class='izquierda' for="">Página web (Opcional):</label>
                        <input type='text' class="form-control" value="{{ institucion.sitioWeb }}"/>
                    </div>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-6'>
                    <Encabezado estilo='izquierda' title='Cargue Cedula de Identificación Fiscal de la institución educativa' />
                    <div class="file btn btn-lg btn-primary">
                        Cargar Constacia de Situación Fiscal actualizada
                        <input type="file" name="file"/>
                    </div>
                </div>
                <div class='col-md-6'>
                    <button class="float-right">Guardar</button>
                </div>
            </div>#}
        </form>
    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script>
      window.name = {{ name|json_encode|raw }}
      window.INSTITUCION_PROP = {{ institucion|raw }}
    </script>#}
    <script src="{{ asset('build/valinfo.js') }}"></script>

{% endblock %}
