{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .square {
            height: 25px;
            width: 25px;
            background-color: #555;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('build/validar-info.css') }}">
{% endblock %}

{% block body %}

    <div class='container-fluid'>
        <div class='row' style="padding: 25px;">
            <div class='col-md-1'>
                <img class='img-responsive' src='https://image.shutterstock.com/image-vector/blank-avatar-photo-place-holder-260nw-1095249842.jpg'/>
            </div>
            <div class='col-md-3'>
                <p style="margin-top: 10px; font-size: 16px; font-weight: bold;">Instituci贸n educativa</p>
                <p>Nombre: {{ institucion.nombre }}</p>
            </div>
        </div>

        <hr style="border: 1px solid black" />
    </div>

    <div class='container'>
        <p style="color: #265c4f; font-size: 24px; font-weight: bold; text-align: center;">Valide su Informaci贸n de Contacto</p>

        <p style="margin-top: 10px; font-size: 16px; font-weight: bold;">Nombre:</p>
        <p style="margin-top: 10px; font-size: 16px;">{{ institucion.nombre }}</p>

        <div id="lista-convenio"></div>

        <p style="margin-top: 10px; font-size: 16px; font-weight: bold; text-align: left;">Informaci贸n de la instituci贸n</p>

        <div id="validar-info"></div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
      window.INSTITUCION_PROP = {{ institucion|json_encode|raw }}
      window.CONVENIOS_PROP = {{ convenios|json_encode|raw }}
    </script>
    <script src="{{ asset('build/validar-info.js') }}"></script>

{% endblock %}
