{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {{ render(controller('AppBundle:InstitucionEducativa\\Institucion:menu', {
        id: institucion.id
    })) }}

    <div class="section-md">
        <div class='container-fluid'>
            <div class='container'>
                <h1 class="text-bold text-center mb-20">Mis solicitudes de campo clinico</h1>
                <div class="row">
                    <div class="col-md-12">
                        <div id="solicitud-index-component"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.CAMPOS_CLINICOS_PROPS = {{ camposClinicos|json_encode|raw }}
        window.CAMPOS_CLINICOS_TOTAL_PROPS = {{ total|json_encode|raw }}
        window.INSTITUCION_ID_PROPS = {{ institucion.id|json_encode|raw }}
    </script>
    <script src="{{ asset('build/solicitud-index.js') }}"></script>
{% endblock %}
