<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.css" media="all">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,700">
<script src="http://educacionensalud.imss.gob.mx/sites/all/modules/jquery_update/replace/jquery/1.10/jquery.min.js?v=1.10.2"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.js"></script>
<link rel="stylesheet" href="{{ asset('build/layout-formato-fofoe.css') }}">
<link rel="stylesheet" href="{{ asset('build/layout.css') }}">
<style>
.center{
  text-align: center;
}
</style>

<div class="container" style="border-bottom: 1px solid #a3a3a3">
  <div class="row">
    <img src="{{absolute_url(asset('build/images/logo_IMSS.png'))}}" alt="IMSS" style="float: left;" />
    <h1 class="mt-20" style="text-align: center; font-weight: bold; color: black;">Instituto Mexicano del Seguro Social</h1>
  </div>
  <p style="text-align: right;" class="mb-20" ><strong>Número de solicitud: {{ solicitud.noSolicitud|default("") }}</strong></p>
</div>

{% if solicitud is not null %}
<div class="container">
  <div class="mt-20" style="border-bottom: 1px solid #a3a3a3">
    <h3 style="font-weight: bold; color: black;">Formato para pago de Cuota de Recuperación para Solicitudes de Campo(s) Clínico(s)</h3>
    <p class="mt-10 mb-10">{{ institucion.nombre | default("")  }}</p>
    <p class="mt-10 mb-20">RFC: {{ institucion.rfc | default("")}}</p>
  </div>

  <div style="border-bottom: 1px solid #a3a3a3">
    <h3 style="text-align: center; font-weight: bold; color: black;" class="mt-20 mb-10" >Forma de Pago: {{esPagoUnico ? "Solicitud de Campos Clínicos" : "Por campo clínico" }}</h3>
    <p class="mt-10 mb-10">Detalle de campos clínicos que cubre el pago por solicitud</p>
    {% if esPagoUnico %} <p class="mt-10 mb-10">No. de Campos Autorizados: {{ campos|length }} </p> {% endif %}

    <table class="table table-bordered" style="text-align: center;" >
      <thead style="background-color: lightgrey;">
        <th class="center">Sede</th>
        <th class="center">Campo Clínico</th>
        <th class="center">Carrera</th>
        <th class="center">No. de lugares autorizados</th>
        <th class="center">Período</th>
        <th class="center">Número de Semanas</th>
      </thead>
      <tbody>
        {% for campo in campos %}
          <tr>
            <td>{{ campo.unidad.nombre | default("") }}</td>
            <td>{{ campo.nombreCicloAcademico| default("") }}</td>
            <td>{{ campo.displayCarrera| default("") }}</td>
            <td>{{ campo.lugaresAutorizados| default("") }}</td>
            <td>{{ campo.fechaInicial|date("d/m/Y")| default("") }}
              - {{ campo.fechaFinal|date("d/m/Y")| default("") }} </td>
            <td>{{ max(  ( ( date(campo.fechaInicial|default(""))
                        .diff(date(campo.fechaFina|default()))
                          .days + 1 ) / 7.0 )|round(0, 'ceil')
              , 1)  }} </td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="mt-20">
    <h3 class="mb-10" style="text-align: center; font-weight: bold; color: black;" >Datos para realizar el pago:</h3>
    <p class="mb-10">Banco: Scotiabank Inverlat, S.A. de C.V.</p>
    <p class="mb-10">No de cuenta: 00105530202</p>
    <p class="mb-10">CLABE: 044180001055302023</p>

    <p class="mb-10">Nombre de la Cuenta:
    R19 GYR IMSS DMF Fondo de Fomento a la Educación Ing. 2</p>

    <p class="mb-10" style="font-weight: bold;">No. de Referecia:{{ solicitud.referenciaBancaria|default("") }} </p>

    <p class="mb-10" style="font-weight: bold;">Importe: $ {{ campos| map(c => c.monto) |reduce(
        (elem, acc) => elem + acc, 0)
      | number_format(2, '.', ',') }}

    </p>
  </div>

</div>
{% endif %}