{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ render(controller('AppBundle:InstitucionEducativa\\Institucion:menu', {
        id: institucion.id
    })) }}

    <div class="section-md">
        <div class='container-fluid'>
            <div class='container'>
                <h1 class="text-bold text-center">Registrar factura(s) de la solicitud.</h1>
                <div class="row">
                    <div class="col-md-12">
                        <div id="registrar-factura-component"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
      window.INSTITUCION_PROP = {{ institucion |json_encode|raw }}
      window.SOLICITUD_PROP = {{ solicitud|json_encode|raw }}
    </script>
    <script src="{{ asset('build/fofoe.registrar.factura.js') }}"></script>
{% endblock %}
