{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}
    {% apply spaceless %}
        Carga masiva - Convenios
    {% endapply %}
{% endblock %}

{% block main %}

{% block entity_form %}

{{ form_start(form, {'method': 'POST'}) }}

 {{ form_errors(form) }}

  <div class="row col-xs-12 "> 
      <div class="form-group" >
    {{ form_row(form.submitFile) }}
    </div>
  </div>
    {{ form_row(form._token) }}

  <div class="row col-xs-12 form-actions stuck">
    <div class="form-group" >
      <div id="form-actions-row" >
        {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary action-save'} }) }}

          <a class="btn btn-secondary action-list" title="" href="{{ path('admin', app.request.query|merge({ entity: 'Agreement', action: 'list' })) }}" target="_self">Volver al listado</a>

      </div>
    </div>
  </div>

  {% if data is not defined or data|length == 0 %}
<div class="row"></div>
<div class="panel panel-default">
  <div class="panel-heading">Consideraciones para carga de convenios:</div>
  <div class="panel-body">
    <ol>
      <li>Se deberá utilizar un archivo CVS (utilizando el separador convencional, la coma),
        preferentemente codificado en UTF-8 para evitar errores por acentos u otros carácteres
        especiales (como la letra ñ).
      </li>
      <li>
        El primer renglón deberá contendrá los encabezados (nombres de las columnas).
        Para la carga serán considerados los siguientes encabezados:
        {% for header in headers %}
          ,  {{ header }}
        {% endfor %}
      </li>
      <li>
        Cualquier encabezado diferente a los mencionados en el punto anterior,  no será considerado
        en el proceso de carga. No afecta que existan columnas adicionales, pero es recomendable
        no agregar columnas extras, con el fin de evitar información no necesaria y reducir
        tiempos de procesamiento del servidor y uso de red.
      </li>
      <li>
        Las columnas pueden ir en cualquier orden, aunque se sugiere mantener el orden mencionado.
      </li>
      <li>
        Si alguna de los encabezados se repite solo será considerada la información de la última columna
        (la que esté más a la derecha).
      </li>
      <li>
        La fecha de vigencia puede especificarse en cualquiera de los siguientes formatos:

        Y-m-d, Y/m/d, d-m-Y, d/m/Y.

        Por ejemplo, los siguientes valores tienen un formato válido: 2020-05-13, 13/05/2020 .
      </li>
      <li>
        A excepción de "nombre", "número" y "vigencia", el resto de campos se validan contra
        los catálogos que se tienen en el sistema. Si se introduce algún valor que no coincida
        con ningún registro del catálogo correspondiente, el renglón no será cargado.
      </li>
      <li>
        En las columnas que son comparadas contra los catálogos del sistema, no se toman en cuenta
        mayúsculas, minúsculas ni acentos. Los espacios intermedios si afectan.
        Por ejemplo: "InternadoMédico" no sería un valor válido, "internado medico" si pasaría
        la validación (verificar consultando los catálogos del sistema).
      </li>
      <li>
        Todo convenio específico debe estar soportado por un convenio general. Si no existe registro
        de un convenio general para la institución, no se podrán cargar los específicos.

        Si en el archivo de carga aparece primero el renglón con la información del convenio general,
        y en renglones posteriores la información de los posteriores la información de los convenios
        específicos, la carga se realizará correctamente. En caso contrario (primero aparecen los específicos
        y después el general), solo se cargará el general y será necesario procesar el archivo nuevamente
        para procesar los específicos.
      </li>
      <li>

      </li>
      <li>
        No se permite la carga de registros duplicados.
        En el caso de convenios específicos, se considera que
        dos registros son diferentes si no coinciden en al menos uno de los suguientes valores:
        institucion, carrera, sector, ciclo y vigencia .
        Para el caso de convenios generales, la distinción se hace considerando:
        institucion, sector, vigencia .
      </li>
    </ol>
  </div>
</div>
  {% endif %}

{{ form_end(form) }}

{% endblock entity_form %}

  {% block result_table %}

      <div class="row"></div>
      <div class="panel panel-default">

        <div class="panel-heading">
        {% if data is defined and data|length > 0 %}
          Resultado Carga
        {% else %}
          Plantilla de Ejemplo
        {% endif %}
        </div>
        <div class="panel-body">
          {% if data is defined and data|length > 0 %}
          <p>Se agregaron {{ agregados }} de {{ data|length }} registros.</p>
          {% endif %}
          <a href="#" onclick="download_table_as_csv();">Download as CSV</a>

        <table class="table" id="conveniosNoCargados">
          <thead>
          <th>id</th>
          {% for header in headers %}
            <th>{{ header }}</th>
          {% endfor %}
          <th>Observaciones</th>
          </thead>
          <tbody>
          {% for d in data %}
            <tr>
              <td>{% if attribute(d.conv, 'id') is defined %} {{ d.conv.id }} {% endif %}</td>
              {% for header in headers %}
                <td>
                  {% if attribute(d.conv, header) is defined
                    and attribute(attribute(d.conv, header), 'nombre') is defined %}
                    {{ attribute(attribute(d.conv, header), 'nombre') }}

                  {% elseif attribute(d.conv, header) is defined
                    and attribute(d.conv, header).timestamp is defined %}
                    {{ attribute(d.conv, header)|date('Y-m-d') }}

                  {% elseif attribute(d.conv, header) is defined and
                    attribute(d.conv, header)  is not null %}
                    {{ attribute(d.conv, header) }}

                  {% elseif attribute(d.row, header) is defined %}
                    {{ attribute(d.row, header) }}

                  {% endif %}
                </td>
              {% endfor %}
              <td>{{ d.error }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
  {% endblock result_table %}

{% endblock main %}

{% block body_javascript %}
  {{ parent() }}

  {{ include('@EasyAdmin/default/includes/_select2_widget.html.twig') }}

  <script type="text/javascript">
    $(function() {

      $('.form-actions').easyAdminSticky();
    });

    function download_table_as_csv() {
      var table_id = 'conveniosNoCargados';
      var filename = 'export_' + table_id + '_' + new Date().toLocaleDateString() + '.csv';
      var csv = [];
      var rows = document.querySelectorAll("table#conveniosNoCargados tr");

      for (var i = 0; i < rows.length; i++) {
        var row = [], cols = rows[i].querySelectorAll("td, th");

        for (var j = 0; j < cols.length; j++)
          row.push( '\"' + cols[j].innerText
            .replace(/"/g, '\"\"')
//            .replace("\,", "\",\"")
            + '\"');

        csv.push(row.join(","));
      }

      // Download CSV file
      downloadCSV(csv.join("\r\n"), filename);
    }

    function downloadCSV(csv_string, filename) {
      var link = document.createElement('a');
      var universalBOM = "\uFEFF";

      link.style.display = 'none';
      link.setAttribute('target', '_blank');
      link.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(universalBOM+csv_string));
      link.setAttribute('download', filename);
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    }
  </script>

  {{ include('@EasyAdmin/default/includes/_select2_widget.html.twig') }}
{% endblock %}
