{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content_title %}
    {% apply spaceless %}
        Carga masiva - Convenios
    {% endapply %}
{% endblock %}

{% block main %}

{% block entity_form %}

{{ form_start(form, {'method': 'POST'}) }}

 {{ form_errors(form) }}

  <div class="row col-xs-12 "> 
      <div class="form-group" >
    {{ form_row(form.submitFile) }}
    </div>
  </div>
    {{ form_row(form._token) }}

  <div class="row col-xs-12 form-actions stuck">
    <div class="form-group" >
      <div id="form-actions-row" >
        {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary action-save'} }) }}

          <a class="btn btn-secondary action-list" title="" href="/admin/?entity=Agreement&amp" target="_self">Volver al listado</a>

      </div>
    </div>
  </div>

{{ form_end(form) }}

{% endblock entity_form %}

  {% block result_table %}
    {% if data is defined and data|length > 0 %}
      <div class="row"></div>
      <div class="panel panel-default">
        <div class="panel-heading">Resultado Carga</div>
        {#{ user.username|e('js') }#}
        <div class="panel-body">
          <p>Se agregaron {{ agregados }} de {{ data|length }} registros.</p>
        </div>

        <table class="table">
          <thead>
          <th>consecutivo</th>
          {% for header in headers %}
            <th>{{ header }}</th>
          {% endfor %}
          <th>Observaciones</th>
          </thead>
          <tbody>
          {% for row in data %}
            <tr>
              <td>{{ loop.index }}</td>
              {% for header in headers %}
                <td>
                  {% if attribute(row.conv, header) is defined
                    and attribute(attribute(row.conv, header), 'nombre') is defined %}
                    {{ attribute(attribute(row.conv, header), 'nombre') }}

                  {% elseif attribute(row.conv, header) is defined
                    and attribute(row.conv, header).timestamp is defined %}
                    {{ attribute(row.conv, header)|date('Y-m-d') }}

                  {% elseif attribute(row.conv, header) is defined %}
                    {{ attribute(row.conv, header) }}
                  {% endif %}
                </td>
              {% endfor %}
              <td>{{ row.error }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% endblock result_table %}

{% endblock main %}

{% block body_javascript %}
  {{ parent() }}

  <script type="text/javascript">
    $(function() {

      $('.form-actions').easyAdminSticky();

    });
  </script>

  {{ include('@EasyAdmin/default/includes/_select2_widget.html.twig') }}
{% endblock %}

