{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/ie.perfil.css') }}">
{% endblock %}

{% block body %}

    {{ render(controller('AppBundle:IE\\Institucion:menu')) }}

    <div class="section-md">
        <div class='container'>
            <h1 class="text-bold text-center">Valide su Información de Contacto</h1>

            <div class="row">
                <div class="col-md-12">
                    <div class="mb-10">
                        <p class="text-bold">Nombre:</p>
                        <p>{{ institucion.nombre }}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div id="lista-convenio-component"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div id="perfil-component"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.INSTITUCION_PROP = {{ institucion|json_encode|raw }}
        window.CONVENIOS_PROP = {{ convenios|json_encode|raw }}
        window.ERRORS = {{ errores|json_encode|raw }}
        window.ACTION = {{ path('ie#perfil')|json_encode|raw }}
    </script>
    <script src="{{ asset('build/ie.perfil.js') }}"></script>
{% endblock %}
