{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ render(controller('AppBundle:InstitucionEducativa\\Institucion:menu', {
        id: institucion.id
    })) }}

    <div class="section-md">
        <div class='container-fluid'>
            <div class='container'>
                <h1 class="text-bold text-center">Registrar comprobante de pago</h1>
                <div style="display: flex;">
                    <p class="text-bold mt-10">Solicitud {{ solicitud.noSolicitud }}</p>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="cargar-comprobante-component"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
      window.RFC_PROP = {{ institucion|json_encode|raw }}
      window.SOLICITUD_PROP = {{ solicitud|json_encode|raw }}
    </script>
    <script src="{{ asset('build/ie.cargar.comprobante.js') }}"></script>
{% endblock %}
