{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ render(controller('AppBundle:IE\\Institucion:menu')) }}

    <div class="section-md">
        <div class='container-fluid'>
            <div class='container'>
                <div class="row mb-20">
                    <div class="col-md-12">
                        <h1 class="text-bold text-center mb-20">Detalle de tipo de pago para solicitud</h1>
                        <p class="text-bold mt-10">Solicitud {{ solicitud.noSolicitud }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="mb-20"><strong>El tipo pago seleccionado fue:</strong></h3>
                        <div id="detalle-forma-pago-component"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.TIPO_PAGO_SELECTED = {{ solicitud.tipoPago|json_encode|raw }}
        window.DESCARGAR_REFERENCIAS_BANCARIAS_PATH = {{ absolute_url(path('ie#descargar_referencias_bancarias', {
            id: solicitud.id
        }))|json_encode|raw }}
    </script>
    <script src="{{ asset('build/ie.detalle.forma.pago.js') }}"></script>
{% endblock %}
