{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ render(controller('AppBundle:IE\\Institucion:menu')) }}

    <div class="section-md">
        <div class='container-fluid'>
            <div class='container'>
                <h1 class="text-bold text-center">Detalle de Solicitud</h1>
                <div style="display: flex;">
                    <p class="mt-10"><strong>No. Solicitud:</strong> {{ solicitud.noSolicitud }}</p>
                    <div id="noSolicitud"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="detalle-solicitud-component"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
      window.SOLICITUD_PROP = {{ solicitud |json_encode|raw }}
    </script>
    <script src="{{ asset('build/ie.detalle.solicitud.js') }}"></script>
{% endblock %}
