{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ render(controller('AppBundle:IE\\Institucion:menu')) }}

    <div class="section-md">
        <div class='container-fluid'>
            <div class='container'>
                <h1 class="text-bold text-center">Detalle de Solicitud de Campos Clínicos</h1>
                <div style="display: flex;">
                    <p class="text-bold mt-10">No. Solicitud: {{ solicitud.noSolicitud }}</p>
                    <div id="noSolicitud"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="detalle-solicitud-component"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
      window.INSTITUCION_PROP = {{ institucion.Id | json_encode | raw }}
      window.TOTAL_PROP = {{ totalCampos|json_encode|raw }}
      window.AUTORIZADO_PROP = {{ autorizado|json_encode|raw }}
      window.SOLICITUD_PROP = {{ solicitud.Id |json_encode|raw }}
      window.CAMPOS_PROP = {{ camposClinicos|json_encode|raw }}
      window.PAGO_PROP = {{ pago|json_encode|raw }}
    </script>
    <script src="{{ asset('build/ie.detalle.solicitud.js') }}"></script>
{% endblock %}
