{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ render(controller('AppBundle:IE\\Institucion:menu', {
        id: institucion.id
    })) }}

    <div class="section-md">
        <div class='container-fluid'>
            <div class='container'>
                <h1 class="text-bold text-center">{{ route == "solicitudes#record" ? "Registrar montos" : "Editar Montos" }}</h1>
                <div style="display: flex;">
                    <p class="text-bold mt-10">Solicitud {{ solicitud.noSolicitud }}</p>
                    <div id="noSolicitud"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="registrar-montos-component"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
      window.INSTITUCION_PROP = {{ institucion.nombre |json_encode|raw }}
      window.CARRERAS_PROP = {{ carreras|json_encode|raw }}
      window.AUTORIZADOS_PROP = {{ autorizados|json_encode|raw }}
      window.MONTOS_PROP = {{ solicitud|json_encode|raw }}
      window.SOLICITUD_ID_PROP = {{ solicitud|json_encode|raw }}
      window.INSTITUCION_ID_PROP = {{ institucion.id|json_encode|raw }}
      window.ROUTE_PROP = {{ route|json_encode|raw }}
    </script>
    <script src="{{ asset('build/ie.registrar.montos.js') }}"></script>

{% endblock %}
