{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/ie.seleccionar.forma.pago.css') }}">
{% endblock %}

{% block body %}
    {{ render(controller('AppBundle:IE\\Institucion:menu')) }}

    <div class="section-md">
        <div class='container-fluid'>
            <div class='container'>
                <div class="row mb-20">
                    <div class="col-md-12">
                        <h1 class="text-bold text-center mb-20">Seleccionar modalidad de pago para la solicitud</h1>
                        <p class="text-bold mt-10">Solicitud {{ solicitud.noSolicitud }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="mb-10"><strong>Consulta el formato de cálculo de cuotas de recuperación para los campos clínicos solicitados</strong></h3>
                        <div id="detalle_campos_clinicos-component"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="mb-20"><strong>Selecciona la opción deseada para generar la referencia de pago</strong></h3>
                        <div id="referencia_pago-component"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.CAMPOS_CLINICOS_PROPS = {{ camposClinicos|json_encode|raw }}
        window.SOLICITUD_PROPS = {{ solicitud|json_encode|raw }}
        window.ACTION = {{ absolute_url(path('ie#seleccionar_forma_de_pago', {
            'id': solicitud.id
        }))|json_encode|raw }}
    </script>
    <script src="{{ asset('build/ie.seleccionar.forma.pago.js') }}"></script>
{% endblock %}
